{% extends "base.html" %}
{% block page_content %}

<div class="col-md-8 offset-md-2">
    <h1>Blog Index</h1>
    <hr>
    <form action="/blog/search" method="GET">
        <div class="form-group">
            <input type="text" placeholder="Digite um termo e aperte enter para pesquisar" class="form-control" name="find_your_blog" />
        </div>
    </form>
    {% for post in posts %}
    <h2><a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ post.body | slice:":400" }}...</p>
    {% endfor %}
    <div class="fixed-bottom col-md-12">
        <button class="float-right button" onclick="open_new_blog_page()">
            <i class="fas fa-plus"></i>
        </button>
    </div>
</div>

{% endblock %}